{% extends 'layout.html.twig' %}

{% block content %}
    <body>
    <div class="backgroundQuestions">
        <p>Nulla hendrerit accumsan odio, aliquet vulputate tellus maximus ac. Curabitur euismod finibus ullamcorper. Donec vel ex nec lacus semper gravida eget a quam. Praesent at ligula sit amet enim hendrerit varius. Aenean ac lacus nulla. Proin faucibus quis purus quis sagittis. Etiam eu elit ut risus dapibus consequat ac ac lacus. Nam efficitur eros non viverra laoreet. Vestibulum nec consectetur nisi, quis tincidunt eros. Aenean condimentum erat quis urna efficitur, ut fringilla neque volutpat. Suspendisse mauris dolor, porta eget nisi quis, tempor laoreet enim. Fusce nulla dolor, varius laoreet aliquet nec, maximus sit amet sem. Aliquam aliquet ex vitae gravida feugiat. Donec vitae elementum urna, vitae elementum sem. Vestibulum vulputate, diam euismod scelerisque scelerisque, tellus risus malesuada turpis, et aliquam ex leo eget mauris.</p>
        <h1>CéKOIKéMIEU ?</h1>
        <form method="post" action="/map">
            <div class="containerQuestionsGlobal">
        <div class="containerQuestions questions1">
            <div class="jonhyGlobal questionGlobal">
                <input type="checkbox" class="checkbox" value="jonhy">
                <label class="btn jonhy orange">Jonhy</label>
                <img class="jonhyImage" src="/assets/images/cursorJonhy.png" alt="">
            </div>
            <div class="sardouGlobal questionGlobal">
                <input type="checkbox" class="checkbox" value="sardou">
                <label class="btn sardou jaune">Sardou</label>
                <img class="sardouImage" src="/assets/images/cursorSardou.png" alt="">
            </div>
        </div>
                <div class="containerQuestions questions1">
                    <div class="claquetteGlobal questionGlobal">
                        <input type="checkbox" class="checkbox" value="claquette">
                        <label class="btn claquette orange">Claquettes</label>
                        <img class="claquetteImage" src="/assets/images/claquettes.png" alt="">
                    </div>
                    <div class="slipGlobal questionGlobal">
                        <input type="checkbox" class="checkbox" value="slip">
                        <label class="btn slip jaune">Slip</label>
                        <img class="slipImage" src="/assets/images/slip.png" alt="">
                    </div>
                </div>
            <div class="containerQuestions questions1">
                        <div class="muletGlobal questionGlobal">
                            <input type="checkbox" class="checkbox" value="mulet">
                            <label class="btn mulet orange">Mulet</label>
                            <img class="muletImage" src="/assets/images/mulet.png" alt="">
                        </div>
                        <div class="bobGlobal questionGlobal">
                            <input type="checkbox" class="checkbox" value="bob">
                            <label class="btn bob jaune">Bob</label>
                            <img class="bobImage" src="/assets/images/bob.png" alt="">
                        </div>
            </div>
            <div class="containerQuestions questions1">
                            <div class="biereGlobal questionGlobal">
                                <input type="checkbox" class="checkbox" value="biere">
                                <label class="btn biere orange">Bière</label>
                                <img class="biereImage" src="/assets/images/biere.png" alt="">
                            </div>
                            <div class="ricardGlobal questionGlobal">
                                <input type="checkbox" class="checkbox" value="ricard">
                                <label class="btn ricard jaune">Ricard</label>
                                <img class="ricardImage" src="/assets/images/ricard.png" alt="">
                            </div>
                        </div>
            </div>
            <div class="buttonSubmit"></div>
            <button class="submit wobble-hor-bottom" type="submit">Envoyer</button>
    </form>
    </body>
{% endblock %}
