{% extends 'layout.html.twig' %}

{% block content %}
    <body>
    <div class="backgroundQuestions">
    <div class="containerQuestionsGlobal">
        <div class="containerQuestions">
            <div class="btn"><a href="#">Jonhy</a></div>
            <div class="btn"><a href="#" >Sardou</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#" >Claquettes chaussettes</a></div>
            <div class="btn"><a href="#" >Slip kangourou</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#">Coupe mulet</a></div>
            <div class="btn"><a href="#">Bob Lidl</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#">Bière</a></div>
            <div class="btn"><a href="#">Ricard</a></div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}
