{% extends 'layout.html.twig' %}

{% block content %}
    <body>
    <div class="cé-navbar">
        <img class="cé-bagnole" src="assets/images/bagnole.png" alt="bagnole">
    </div>
    <div class="cé-headercontainer">
        <img src="assets/images/bigard.png" alt="bigard" class="cé-bigard">
        <img src="assets/images/johnny.png" alt="johnny" class="cé-johnny">
        <img src="assets/images/patoche.png" alt="patoche" class="cé-patoche">
        <img src="assets/images/socks.webp" alt="socks" class="cé-socks">
        <img src="assets/images/tshirt.webp" alt="tshirt" class="cé-tshirt">
        <img src="assets/images/vincentlagaf.png" alt="lagaf" class="cé-lagaf">
        <img src="/assets/images/casque.webp" alt="casque" class="cé-casque">
        <img src="/assets/images/bobricard.webp" alt="bob" class="cé-bobricard">
        <img src="/assets/images/sacricard.webp" alt="sac" class="cé-sacricard">
        <img src="/assets/images/picole.webp" alt="picole" class="cé-picole">
        <h1 class="cé-headertitle">CÉOUKONVA ??</h1>
    </div>
    <div class="cé-tray">
        <img class="cé-drag-sausage-raw cé-drag-sausage-raw-1" src="assets/images/saucisse-crue.png">
        <img class="cé-drag-sausage-raw cé-drag-sausage-raw-2" src="assets/images/saucisse-crue.png">
        <img class="cé-drag-sausage-raw cé-drag-sausage-raw-3" src="assets/images/saucisse-crue.png">
    </div>
    <div class="backgroundQuestions">
        <p>Nulla hendrerit accumsan odio, aliquet vulputate tellus maximus ac. Curabitur euismod finibus ullamcorper. Donec vel ex nec lacus semper gravida eget a quam. Praesent at ligula sit amet enim hendrerit varius. Aenean ac lacus nulla. Proin faucibus quis purus quis sagittis. Etiam eu elit ut risus dapibus consequat ac ac lacus. Nam efficitur eros non viverra laoreet. Vestibulum nec consectetur nisi, quis tincidunt eros. Aenean condimentum erat quis urna efficitur, ut fringilla neque volutpat. Suspendisse mauris dolor, porta eget nisi quis, tempor laoreet enim. Fusce nulla dolor, varius laoreet aliquet nec, maximus sit amet sem. Aliquam aliquet ex vitae gravida feugiat. Donec vitae elementum urna, vitae elementum sem. Vestibulum vulputate, diam euismod scelerisque scelerisque, tellus risus malesuada turpis, et aliquam ex leo eget mauris.</p>
        <h1>CéKOIKéMIEU ?</h1>
        <form method="post" action="map/sort">
            <div class="containerQuestionsGlobal">
        <div class="containerQuestions questions1">
            <div class="jonhyGlobal questionGlobal">
                <input type="checkbox" class="checkbox" value="jonhy" name="question1" id="jonhy">
                <label for="jonhy" class="btn jonhy orange">Jonhy</label>
                <img class="jonhyImage" src="/assets/images/cursorJonhy.png" alt="">
            </div>
            <div class="sardouGlobal questionGlobal">
                <input type="checkbox" class="checkbox" value="sardou" name="question1" id="sardou">
                <label for="sardou" class="btn sardou jaune" >Sardou</label>
                <img class="sardouImage" src="/assets/images/cursorSardou.png" alt="">
            </div>
        </div>
                <div class="containerQuestions questions1">
                    <div class="claquetteGlobal questionGlobal">
                        <input type="checkbox" class="checkbox" value="claquette" name="question2" id="claquette">
                        <label for="claquette" class="btn claquette orange">Claquettes</label>
                        <img class="claquetteImage" src="/assets/images/claquettes.png" alt="">
                    </div>
                    <div class="slipGlobal questionGlobal">
                        <input type="checkbox" class="checkbox" value="slip" name="question2" id="slip">
                        <label for="slip" class="btn slip jaune">Slip</label>
                        <img class="slipImage" src="/assets/images/slip.png" alt="">
                    </div>
                </div>
            <div class="containerQuestions questions1">
                        <div class="muletGlobal questionGlobal">
                            <input type="checkbox" class="checkbox" value="mulet" name="question3" id="mulet">
                            <label for="mulet" class="btn mulet orange">Mulet</label>
                            <img class="muletImage" src="/assets/images/mulet.png" alt="">
                        </div>
                        <div class="bobGlobal questionGlobal">
                            <input type="checkbox" class="checkbox" value="bob" name="question3" id="bob" >
                            <label for="bob" class="btn bob jaune">Bob</label>
                            <img class="bobImage" src="/assets/images/bob.png" alt="">
                        </div>
            </div>
            <div class="containerQuestions questions1">
                            <div class="biereGlobal questionGlobal">
                                <input type="checkbox" class="checkbox" value="biere" name="question4" id="biere" >
                                <label for="biere" class="btn biere orange">Bière</label>
                                <img class="biereImage" src="/assets/images/biere.png" alt="">
                            </div>
                            <div class="ricardGlobal questionGlobal">
                                <input type="checkbox" class="checkbox" value="ricard" name="question4" id="ricard">
                                <label for="ricard" class="btn ricard jaune">Ricard</label>
                                <img class="ricardImage" src="/assets/images/ricard.png" alt="">
                            </div>
                        </div>
            </div>
            <div class="buttonSubmit"></div>
            <button class="submit wobble-hor-bottom" type="submit">Envoyer</button>
    </form>
    <div class="cé-flammes">
        <img src="assets/images/fire.gif">
        <img src="assets/images/fire.gif">
        <img src="assets/images/fire.gif">
    </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>
    <script>
        //let tray = document.querySelector(".cé-tray");
        /*gsap.utils.toArray(tray).forEach(tray => {
            let saucisse = tray.querySelector(".cé-drag-sausage-raw");
            Draggable.create(saucisse, {
                onDragEnd: function() {
                    gsap.to(saucisse, {
                        rotation: 360,
                        repeat: 4,
                        ease: 'none'
                    });
                }
            });
        })*/
        Draggable.create(".cé-drag-sausage-raw-1", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-1", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-1").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        Draggable.create(".cé-drag-sausage-raw-2", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-2", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-2").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        Draggable.create(".cé-drag-sausage-raw-3", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-3", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-3").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        let audioplay = new Audio('assets/images/klaxon.mp3')

        function letsplay(){
            audioplay.play()
            setInterval(function() {
                audioplay.play();
            }, 3000);
        }
        let tl = gsap.timeline({defaults: {repeat: -1,repeatDelay: 5}})
        tl.from(".cé-bagnole", {xPercent: 800,duration: 3})
        tl.call(function(){
            setInterval(function() {
                audioplay.play();
            }, 8000);
        })
        let jonhyIs;
        let sardouIs;
        let claquetteIs;
        let slipIs;
        let muletIs;
        let bobIs;
        let biereIs;
        let ricardIs;

        let jonhy = document.querySelector('.jonhy');
        let sardou = document.querySelector('.sardou');
        let claquette = document.querySelector('.claquette');
        let slip = document.querySelector('.slip');
        let mulet = document.querySelector('.mulet');
        let bob = document.querySelector('.bob');
        let biere = document.querySelector('.biere');
        let ricard = document.querySelector('.ricard');


        let jonhyImage = document.querySelector('.jonhyImage');
        let sardouImage = document.querySelector('.sardouImage');
        let claquetteImage = document.querySelector('.claquetteImage');
        let slipImage = document.querySelector('.slipImage');
        let muletImage = document.querySelector('.muletImage');
        let bobImage = document.querySelector('.bobImage');
        let biereImage = document.querySelector('.biereImage');
        let ricardImage = document.querySelector('.ricardImage');

        function jonhyMove(){
            if ((typeof jonhyIs == 'null') || (jonhyIs = 'hidden')) {
                jonhyImage.style.visibility = "unset";
                jonhyIs = "unset";
            } else {
                jonhyImage.style.visibility = "hidden";
                jonhyIs = "hidden";
            }
        }
        jonhy.addEventListener('click', jonhyMove);

        function sardouMove(){
            if ((typeof sardouIs == 'null') || (sardouIs = 'hidden')) {
                sardouImage.style.visibility = "unset";
                sardouIs = "unset";
            } else {
                sardouImage.style.visibility = "hidden";
                sardouIs = "hidden";
            }
        }
        sardou.addEventListener('click', sardouMove);

        function claquetteMove(){
            if ((typeof claquetteIs == 'null') || (claquetteIs = 'hidden')) {
                claquetteImage.style.visibility = "unset";
                claquetteIs = "unset";
            } else {
                claquetteImage.style.visibility = "hidden";
                claquetteIs = "hidden";
            }
        }
        claquette.addEventListener('click', claquetteMove);

        function slipMove(){
            if ((typeof slipIs == 'null') || (slipIs = 'hidden')) {
                slipImage.style.visibility = "unset";
                slipIs = "unset";
            } else {
                slipImage.style.visibility = "hidden";
                slipIs = "hidden";
            }
        }
        slip.addEventListener('click', slipMove);

        function muletMove(){
            if ((typeof muletIs == 'null') || (muletIs = 'hidden')) {
                muletImage.style.visibility = "unset";
                muletIs = "unset";
            } else {
                muletImage.style.visibility = "hidden";
                muletIs = "hidden";
            }
        }
        mulet.addEventListener('click', muletMove);

        function bobMove(){
            if ((typeof bobIs == 'null') || (bobIs = 'hidden')) {
                bobImage.style.visibility = "unset";
                bobIs = "unset";
            } else {
                bobImage.style.visibility = "hidden";
                bobIs = "hidden";
            }
        }
        bob.addEventListener('click', bobMove);

        function biereMove(){
            if ((typeof biereIs == 'null') || (biereIs = 'hidden')) {
                biereImage.style.visibility = "unset";
                biereIs = "unset";
            } else {
                biereImage.style.visibility = "hidden";
                biereIs = "hidden";
            }
        }
        biere.addEventListener('click', biereMove);

        /*function ricardMove(){
            if (typeof ricardIs == 'null') {
                ricardImage.style.visibility = "unset";
                ricardIs = "unset";
                console.log('111111111')
            } else if (ricardIs = 'unset') {
                ricardImage.style.visibility = "hidden";
                ricardIs = "hidden";
                console.log('22222222222')
            } else if (ricardIs = 'hidden'){
                ricardImage.style.visibility = "unset";
                ricardIs = "unset";
                console.log('3333333333')

            }*/
        }
        function ricardMove(){
            if ((typeof ricardIs == 'null') || (ricardIs = 'hidden')) {
                ricardImage.style.visibility = "unset";
                ricardIs = "unset";
            } else {
                ricardImage.style.visibility = "hidden";
                ricardIs = "hidden";
            }
        }
        ricard.addEventListener('click', ricardMove);

    </script>

{% endblock %}
