{% extends 'layout.html.twig' %}

{% block content %}
    <body>

    <section class="accueuil">
    <div class="cé-navbar">
        <img class="cé-place-apero" src="assets/images/place-apero.jpeg" alt="">
        <img class="cé-bagnole" src="assets/images/bagnolejaune.png" alt="bagnole">
        <img class="cé-rue-soif" src="assets/images/rue-soif.jpeg" alt="">
    </div>
    <div class="cé-headercontainer">
        <img src="assets/images/bigard.png" alt="bigard" class="cé-bigard" id="bigard">
        <!--
        <img src="assets/images/johnny.png" alt="johnny" class="cé-johnny">
        <img src="assets/images/patoche.png" alt="patoche" class="cé-patoche">
        <img src="assets/images/socks.webp" alt="socks" class="cé-socks">
        <img src="assets/images/tshirt.webp" alt="tshirt" class="cé-tshirt">
        <img src="assets/images/vincentlagaf.png" alt="lagaf" class="cé-lagaf">
        <img src="/assets/images/casque.webp" alt="casque" class="cé-casque">
        <img src="/assets/images/bobricard.webp" alt="bob" class="cé-bobricard">
        <img src="/assets/images/sacricard.webp" alt="sac" class="cé-sacricard">
        <img src="/assets/images/picole.webp" alt="picole" class="cé-picole">
        -->
        <h1 class="cé-headertitle">CéOUKONVA ??</h1>
        <img src="/assets/images/beaubackground.png" alt="" id="cé-home-background">
    </div>

    <div class="backgroundQuestions">
        <div class="cé-img-para">
            <img src="/assets/images/ricardlogo.png" alt="" class="cé-ricardlogo">
            <img src="/assets/images/faisceau.png" class="cé-faisceau">
            <img src="/assets/images/hands.png" alt="hands" class="cé-mains">
            <canvas id="canvasricard" width="50" height="400">
                <svg id="cé-ricard-flow">
                    <rect class="cé-ricard-flow" fill="#F2D44A" width="30" height="10" rx="50" />
                </svg>
            </canvas>
        </div>
        <div class="cé-pétanque">
            <img src="/assets/images/terrainpétanque.jpg" class="cé-pétanque-terrain">
            <img src="/assets/images/cochonnet.png" class="cé-pétanque-cochonnet">
            <img src="/assets/images/boulespétanque.png" class="cé-pétanque-boule cé-pétanque-boule-1">
            <img src="/assets/images/boulespétanque.png" class="cé-pétanque-boule cé-pétanque-boule-2">
            <img src="/assets/images/boulespétanque.png" class="cé-pétanque-boule cé-pétanque-boule-3">
        </div>
        <p>Bienvenue sur Céoukonva, le site ultime de réservation de camping pour les bons vivants assumés ! Préparez-vous à vivre des aventures en plein air, avec une dose d'humour gras et lourd. Notre concept unique repose sur des questions décalées pour vous guider vers les campings qui correspondent à votre style de vie particulier.</p>

        <p>Envie d'une bière fraîche à portée de main ? D'un barbecue qui fume ? Ou peut-être d'une sono puissante pour mettre l'ambiance ? Quelles que soient vos préférences de camping, nous avons le lieu idéal pour vous. Choisissez parmi une sélection de campings accueillants où vous pourrez laisser libre cours à votre côté beauf sans jugement.</p>

           <p>Alors, préparez vos tongs, sortez vos chemises hawaïennes et rejoignez-nous sur Céoukonva pour vivre des vacances mémorables. Préparez-vous à dire adieu aux conventions et à plonger dans l'univers du camping beauf !</p>
        <h1>CéKOIKéMIEU ?</h1>
        <form method="post" action="map/sort">
            <div class="containerQuestionsGlobal">
        <div class="containerQuestions questions1">
            <div class="jonhyGlobal questionGlobal">
                <input type="checkbox" class="checkbox" value="jonhy" name="question1" id="jonhy">
                <label for="jonhy" class="btn jonhy orange">Johnny</label>
                <img class="jonhyImage" src="/assets/images/cursorJonhy.png" alt="">
            </div>
            <div class="sardouGlobal questionGlobal">
                <input type="checkbox" class="checkbox" value="sardou" name="question1" id="sardou">
                <label for="sardou" class="btn sardou jaune" >Sardou</label>
                <img class="sardouImage" src="/assets/images/cursorSardou.png" alt="">
            </div>
        </div>
                <div class="containerQuestions questions1">
                    <div class="claquetteGlobal questionGlobal">
                        <input type="checkbox" class="checkbox" value="claquette" name="question2" id="claquette">
                        <label for="claquette" class="btn claquette orange">Claquettes</label>
                        <img class="claquetteImage" src="/assets/images/claquettes.png" alt="">
                    </div>
                    <div class="slipGlobal questionGlobal">
                        <input type="checkbox" class="checkbox" value="slip" name="question2" id="slip">
                        <label for="slip" class="btn slip jaune">Slip</label>
                        <img class="slipImage" src="/assets/images/slip.png" alt="">
                    </div>
                </div>
            <div class="containerQuestions questions1">
                        <div class="muletGlobal questionGlobal">
                            <input type="checkbox" class="checkbox" value="mulet" name="question3" id="mulet">
                            <label for="mulet" class="btn mulet orange">Mulet</label>
                            <img class="muletImage" src="/assets/images/mulet.png" alt="">
                        </div>
                        <div class="bobGlobal questionGlobal">
                            <input type="checkbox" class="checkbox" value="bob" name="question3" id="bob" >
                            <label for="bob" class="btn bob jaune">Bob</label>
                            <img class="bobImage" src="/assets/images/bob.png" alt="">
                        </div>
            </div>
            <div class="containerQuestions questions1">
                            <div class="biereGlobal questionGlobal">
                                <input type="checkbox" class="checkbox" value="biere" name="question4" id="biere" >
                                <label for="biere" class="btn biere orange">Bière</label>
                                <img class="biereImage" src="/assets/images/biere.png" alt="">
                            </div>
                            <div class="ricardGlobal questionGlobal">
                                <input type="checkbox" class="checkbox" value="ricard" name="question4" id="ricard">
                                <label for="ricard" class="btn ricard jaune">Ricard</label>
                                <img class="ricardImage" src="/assets/images/ricardverre.png" alt="">
                            </div>
                        </div>
            </div>
            <div class="buttonSubmit"></div>
            <button class="submit wobble-hor-bottom" type="submit">Envoyer</button>
    </form>
        <div class="cé-tray">
            <img class="cé-drag-sausage-raw cé-drag-sausage-raw-1" src="assets/images/saucisse-crue.png">
            <img class="cé-drag-sausage-raw cé-drag-sausage-raw-2" src="assets/images/saucisse-crue.png">
            <img class="cé-drag-sausage-raw cé-drag-sausage-raw-3" src="assets/images/saucisse-crue.png">
        </div>
    </div>
    <img src="/assets/images/ricardplein.png" class="cé-ricard-plein">
    <img src="/assets/images/alu.png" class="cé-alu">
        <div class="cé-flammes">
            <img src="assets/images/fire.gif">
            <img src="assets/images/fire.gif">
            <img src="assets/images/fire.gif">
        </div>
    </section>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>
    <script>


        gsap.to(".cé-johnny", {
            rotation: 20,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-patoche", {
            rotation: 30,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-socks", {
            rotation: 25,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-tshirt", {
            rotation: 10,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-lagaf", {
            rotation: 50,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-casque", {
            rotation: 10,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-bobricard", {
            rotation: 30,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-sacricard", {
            rotation: 20,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        gsap.to(".cé-picole", {
            rotation: 30,
            repeat: -1,
            ease: "none",
            yoyo: true
        });

        let timelineRicardLogo = gsap.timeline({
            scrollTrigger: {
                trigger: ".cé-ricardlogo",
                toggleActions: "play none none reverse"
            },});

        timelineRicardLogo.to(".cé-ricardlogo", {

            xPercent: 10,
            rotation: 360,
            duration: 4,
            width: 300,
            ease: "power1.inOut"
        });
        timelineRicardLogo.to(".cé-mains", {
            opacity: 1,
            duration: 1,
        }, ">-0.5");
        timelineRicardLogo.to(".cé-faisceau", {
            opacity: 1,
            duration: 1,
        }, "<")
        timelineRicardLogo.to(".cé-ricard-flow", {
            opacity: 1,
            duration: 0.5,
        }, ">-0.5");
        const canvas = document.getElementById("canvasricard");
        const ctx = canvas.getContext("2d");
        let position = { x: 0, y: 0 };
        ctx.fillStyle = "#F2D44A";
        function draw() {
            // erase the canvas
            ctx.clearRect(0, 0, 0, 0);
            // redraw the square at it's new position
            ctx.fillRect(position.x, position.y, 50, 50);
            //ctx.beginPath();                 // clear current path
            //ctx.arc(15, 15, 10, 0, 2 * Math.PI);   // apply arguments to arc() call
            //ctx.fill();
        }
        timelineRicardLogo.to(position, {
                x: 0,
                y: 600,
                duration: 6,
                // unlike DOM elements, canvas needs to be redrawn and cleared on every tick
                onUpdate: draw
            });
        gsap.to(".cé-ricard-flow", {
            attr: {
                rx: 50
            }
        })

        let boule1 = document.querySelector(".cé-pétanque-boule-1");
        let boule2 = document.querySelector(".cé-pétanque-boule-2");
        let boule3 = document.querySelector(".cé-pétanque-boule-3");

        Draggable.create(boule1, {
            inertia: true
        })

        Draggable.create(boule2, {
            inertia: true
        })

        Draggable.create(boule3, {
            type: "rotation"
        })

        Draggable.create(".cé-alu", {
        });

        Draggable.create(".cé-drag-sausage-raw-1", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-1", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-1").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        Draggable.create(".cé-drag-sausage-raw-2", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-2", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-2").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        Draggable.create(".cé-drag-sausage-raw-3", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-3", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-3").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        let audioplay = new Audio('/assets/images/klaxon.mp3')

        function letsplay(){
            audioplay.play()
            setInterval(function() {
                audioplay.play();
            }, 3000);
        }
        let tl = gsap.timeline({defaults: {repeat: -1,repeatDelay: 5}})
        tl.from(".cé-bagnole", {xPercent: 800,duration: 3})
        tl.call(function(){
            setInterval(function() {
                audioplay.play();
            }, 8000);
        })

        let jonhyIs = false;
        let sardouIs = false;
        let claquetteIs = false;
        let slipIs = false;
        let muletIs = false;
        let bobIs = false;
        let biereIs = false;
        let ricardIs = false;


        let jonhy = document.querySelector('.jonhy');
        let sardou = document.querySelector('.sardou');
        let claquette = document.querySelector('.claquette');
        let slip = document.querySelector('.slip');
        let mulet = document.querySelector('.mulet');
        let bob = document.querySelector('.bob');
        let biere = document.querySelector('.biere');
        let ricard = document.querySelector('.ricard');

        let jonhyImage = document.querySelector('.jonhyImage');
        let sardouImage = document.querySelector('.sardouImage');
        let claquetteImage = document.querySelector('.claquetteImage');
        let slipImage = document.querySelector('.slipImage');
        let muletImage = document.querySelector('.muletImage');
        let bobImage = document.querySelector('.bobImage');
        let biereImage = document.querySelector('.biereImage');
        let ricardImage = document.querySelector('.ricardImage');

        function jonhyMove(){
            if (jonhyIs == false) {
                jonhyIs = true;
                jonhyImage.style.visibility = "unset";
            } else {
                jonhyImage.style.visibility = "hidden";
                jonhyIs = false;
            }
        }
        jonhy.addEventListener('click', jonhyMove);

        function sardouMove(){
            if (sardouIs == false) {
                sardouIs = true;
                sardouImage.style.visibility = "unset";
            } else {
                sardouImage.style.visibility = "hidden";
                sardouIs = false;
            }
        }
        sardou.addEventListener('click', sardouMove);

        function claquetteMove(){
            if (claquetteIs == false) {
                claquetteIs = true;
                claquetteImage.style.visibility = "unset";
            } else {
                claquetteImage.style.visibility = "hidden";
                claquetteIs = false;
            }
        }
        claquette.addEventListener('click', claquetteMove);

        function slipMove(){
            if (slipIs == false) {
                slipIs = true;
                slipImage.style.visibility = "unset";
            } else {
                slipImage.style.visibility = "hidden";
                slipIs = false;
            }
        }
        slip.addEventListener('click', slipMove);

        function muletMove(){
            if (muletIs == false) {
                muletIs = true;
                muletImage.style.visibility = "unset";
            } else {
                muletImage.style.visibility = "hidden";
                muletIs = false;
            }
        }
        mulet.addEventListener('click', muletMove);

        function bobMove(){
            if (bobIs == false) {
                bobIs = true;
                bobImage.style.visibility = "unset";
            } else {
                bobImage.style.visibility = "hidden";
                bobIs = false;
            }
        }
        bob.addEventListener('click', bobMove);

        function biereMove(){
            if (biereIs == false) {
                biereIs = true;
                biereImage.style.visibility = "unset";
            } else {
                biereImage.style.visibility = "hidden";
                biereIs = false;
            }
        }
        biere.addEventListener('click', biereMove);

        function ricardMove(){
            if (ricardIs == false) {
                ricardIs = true;
                ricardImage.style.visibility = "unset";
            } else {
                ricardImage.style.visibility = "hidden";
                ricardIs = false;
            }
        }
        ricard.addEventListener('click', ricardMove);

        // Fonction pour jouer le son
        function jouerSon() {
            let audio = new Audio('/assets/images/bigard.mp3');
            audio.play();
        }

        // Récupérer l'élément de l'image
        var bigard = document.querySelector('#bigard');

        // Ajouter un gestionnaire d'événements au clic sur l'image
        bigard.addEventListener('click', function() {
            jouerSon();
        });
    </script>

{% endblock %}
