{% extends 'layout.html.twig' %}

{% block content %}
    <body>
    <div class="cé-navbar">
        <h2>navbar</h2>
    </div>

    <div class="cé-headercontainer">
        <img src="assets/images/bigard.png" alt="bigard" class="cé-bigard">
        <img src="assets/images/johnny.png" alt="johnny" class="cé-johnny">
        <img src="assets/images/patoche.png" alt="patoche" class="cé-patoche">
        <img src="assets/images/socks.webp" alt="socks" class="cé-socks">
        <img src="assets/images/tshirt.webp" alt="tshirt" class="cé-tshirt">
        <img src="assets/images/vincentlagaf.png" alt="lagaf" class="cé-lagaf">
        <img src="/assets/images/casque.webp" alt="casque" class="cé-casque">
        <img src="/assets/images/bobricard.webp" alt="bob" class="cé-bobricard">
        <img src="/assets/images/sacricard.webp" alt="sac" class="cé-sacricard">
        <img src="/assets/images/picole.webp" alt="picole" class="cé-picole">
        <h1 class="cé-headertitle">CÉOUKONVA ??</h1>
    </div>
    <div class="cé-tray">
        <img class="cé-drag-sausage-raw cé-drag-sausage-raw-1" src="assets/images/saucisse-crue.png">
        <img class="cé-drag-sausage-raw cé-drag-sausage-raw-2" src="assets/images/saucisse-crue.png">
        <img class="cé-drag-sausage-raw cé-drag-sausage-raw-3" src="assets/images/saucisse-crue.png">
    </div>
    <div class="backgroundQuestions">

    <div class="containerQuestionsGlobal">
        <div class="containerQuestions">
            <div class="btn"><a href="#">Jonhy</a></div>
            <div class="btn"><a href="#" >Sardou</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#" >Claquettes chaussettes</a></div>
            <div class="btn"><a href="#" >Slip kangourou</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#">Coupe mulet</a></div>
            <div class="btn"><a href="#">Bob Lidl</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#">Bière</a></div>
            <div class="btn"><a href="#">Ricard</a></div>
        </div>
    </div>

    </div>
    <div class="cé-flammes">
        <img src="assets/images/fire.gif">
        <img src="assets/images/fire.gif">
        <img src="assets/images/fire.gif">
    </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>
    <script>
        let tray = document.querySelector(".cé-tray");
        gsap.utils.toArray(tray).forEach(tray => {
            let saucisse = tray.querySelector(".cé-drag-sausage-raw");
            Draggable.create(saucisse, {
                onDragEnd: function() {
                    gsap.to(saucisse, {
                        rotation: 360,
                        repeat: 4,
                        ease: 'none'
                    });
                }
            });
        })
        Draggable.create(".cé-drag-sausage-raw-1", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-1", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-3").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        Draggable.create(".cé-drag-sausage-raw-2", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-2", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-3").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
        Draggable.create(".cé-drag-sausage-raw-3", {
            onDragEnd: function() {
                gsap.to(".cé-drag-sausage-raw-3", {
                    rotation: 360,
                    repeat: 2,
                    ease: 'none',
                    duration: 2,
                    onComplete: function() {
                        document.querySelector(".cé-drag-sausage-raw-3").src="assets/images/saucissecuite.png"
                    }
                });
            }
        });
    </script>
{% endblock %}
