{% extends 'layout.html.twig' %}

{% block content %}
    <body>
    <div class="cé-navbar">
        <h2>navbar</h2>
    </div>

    <div class="cé-headercontainer">
        <img src="assets/images/bigard.png" alt="bigard" class="cé-bigard">
        <img src="assets/images/johnny.png" alt="johnny" class="cé-johnny">
        <img src="assets/images/patoche.png" alt="patoche" class="cé-patoche">
        <img src="assets/images/socks.webp" alt="socks" class="cé-socks">
        <img src="assets/images/tshirt.webp" alt="tshirt" class="cé-tshirt">
        <img src="assets/images/vincentlagaf.png" alt="lagaf" class="cé-lagaf">
        <img src="/assets/images/casque.webp" alt="casque" class="cé-casque">
        <img src="/assets/images/bobricard.webp" alt="bob" class="cé-bobricard">
        <img src="/assets/images/sacricard.webp" alt="sac" class="cé-sacricard">
        <img src="/assets/images/picole.webp" alt="picole" class="cé-picole">
        <h1 class="cé-headertitle">CÉOUKONVA ??</h1>
    </div>

    <div class="backgroundQuestions">
    <div class="containerQuestionsGlobal">
        <div class="containerQuestions">
            <div class="btn"><a href="#">Jonhy</a></div>
            <div class="btn"><a href="#" >Sardou</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#" >Claquettes chaussettes</a></div>
            <div class="btn"><a href="#" >Slip kangourou</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#">Coupe mulet</a></div>
            <div class="btn"><a href="#">Bob Lidl</a></div>
        </div>
        <div class="containerQuestions">
            <div class="btn"><a href="#">Bière</a></div>
            <div class="btn"><a href="#">Ricard</a></div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}
