@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--cé-blue-dark);

}

h1 {
    color: var(--cé-yellow-light);
    font-family: var(--cé-font-title);
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
}

.cé-error-images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cé-error-emoji1, .cé-error-emoji2{
    max-width: 100px;
    max-height: 100px;
}

.cé-error-mainimg {
    height: 70vh;
    margin-left: 100px;
    margin-right: 100px;
}

