body {
    background: var(--cé-blue-dark);
}

.cé-map {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.cé-map h1 {
    font-family: var(--cé-font-title);
    color: var(--cé-yellow-dark);
    font-size: 6rem;
    margin-bottom: 10vh;
    margin-top: 10vh;
    letter-spacing: 1px;
}

.cé-pin {
    width: 5rem;
}


