body {
    background: linear-gradient(to bottom, #3358AD , #223B74); /*fiolet*/
}
.retour{
    height: 20vh;
    position: absolute;
    top: 5%;
}
.retour:hover, .bercail:hover{
    cursor: url("/assets/images/heineken.png"), pointer;
}
.bercail{
    position: absolute;
    top: 25%;
    text-decoration: none;
    color: #EBBF49;
    font-size: 1.5rem;
}
.cé-map {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    cursor: url('/assets/images/campingcarcursor.png'), pointer;
    margin-left: 5vh;
    margin-right: 5vh;
}

.cé-map h1 {
    font-family: var(--cé-font-title);
    color: var(--cé-yellow-dark);
    font-size: 6rem;
    margin-bottom: 10vh;
    margin-top: 10vh;
    margin-left: 15vw;
    letter-spacing: 1px;
}

.cé-map h5 {
    font-family: var(--cé-font-text);
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.cé-map p, .cé-map h6 {
    font-family: var(--cé-font-text);
    text-align: center;
}

.cémap {
    position: relative;
}

.célamap {
    height: 100%;
}

/* Position camping nord */
.cé-pin1 {
    display: none;
    width: 3rem;
    position: absolute;
    right: 30%;
    top: 3%;
    z-index: 1;
}

/* Position camping océan */
.cé-pin2 {
    display: none;
    width: 3rem;
    position: absolute;
    bottom: 180px;
    right: 768px;
    z-index: 1;
}

/* Position camping Pyrénées */
.cé-pin3 {
    display: none;
    width: 3rem;
    position: absolute;
    bottom: 92px;
    right: 650px;
    z-index: 1;
}

/* Position camping Montpellier*/
.cé-pin4 {
    display: none;
    width: 3rem;
    position: absolute;
    bottom: 140px;
    right: 480px;
    z-index: 1;
}

/* Position camping Nice */
.cé-pin5 {
    display: none;
    width: 3rem;
    position: absolute;
    bottom: 142px;
    right: 300px;
    z-index: 1;
}

.célacard {
    width: 35rem;
    background: var(--cé-yellow-dark);
    font-family: var(--cé-font-text);
}

.célacard h6 {
    font-style: italic;
    font-size: 1.5rem;
}

/* Card 1 couple */
.célacard1 {
    position: relative;
    height: 24rem;
}

.célacard1 .card-body h5 {
    width: 33rem;
    position: absolute;
    left: 1rem;
}

.célacard1 .card-body p {
    width: 20rem;
    position: absolute;
    top: 7rem;
    left: 13rem;
}
.célacard1 .card-body .temp {
    width: 15rem;
    position: absolute;
    top: 11rem;
    left: 17rem;
}

.célacard1 .card-body h6 {
    width: 14rem;
    position: absolute;
    top: 14rem;
    left: 20rem;
}

.célacard1 img {
    width: 20rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Card 2 barbecue */
.célacard2 {
    position: relative;
    height: 24rem;
}

.célacard2 .card-body {
    width: 22rem;
    position: absolute;
    left: 13rem;
}

.célacard2 img {
    width: 13rem;
    position: absolute;
    bottom: 0rem;
    left: 1rem;
}

/* Card 3 peche à la truite */
.célacard3 {
    position: relative;
    height: 24rem;
}

.célacard3 .card-body h5 {
    width: 30rem;
    position: absolute;
    left: 2rem;
}

.célacard3 .card-body p {
    width: 20rem;
    position: absolute;
    left: 13rem;
    top: 6rem;
}

.célacard3 .card-body .temp {
    width: 20rem;
    position: absolute;
    left: 15rem;
    top: 13rem;
}

.célacard3 .card-body h6 {
    width: 12rem;
    position: absolute;
    left: 20rem;
    top: 15rem;
}

.célacard3 img {
    width: 19rem;
    position: absolute;
    bottom: 0rem;
    left: 1rem;
}

/* Card 4 sosie */
.célacard4 {
    position: relative;
    height: 24rem;
}

.célacard4 .card-body{
    width: 15rem;
    position: absolute;
    left: 10rem;
}
.célacard4 .card-body h5{
    width: 15rem;
    position: absolute;
    left: 6rem;
}
.célacard4 .card-body p{
    width: 18rem;
    position: absolute;
    left: 5rem;
    top: 7rem;
}

.célacard4 .card-body .temp{
    width: 15rem;
    position: absolute;
    left: 5rem;
    top: 14rem;
}

.célacard4 .card-body h6{
    width: 21rem;
    position: absolute;
    left: 2rem;
    top: 16rem;
}

.célacard4 img {
    width: 14rem;
    position: absolute;
    bottom: 0rem;
}

/* Card 5 miss camping */
.célacard5 {
    position: relative;
    height: 24rem;
}

.célacard5 .card-body{
    width: 23rem;
    position: relative;
    left: 10rem;
}

.célacard5 .card-body h6{
    width: 21rem;
    position: relative;
    left: 2rem;
}

.célacard5 img {
    width: 20rem;
    position: absolute;
    bottom: -1rem;
    left: -2rem;
}

.display1, .display2, .display3, .display4, .display5 {
    display: none;
}

.display {
    display: flex;
}

.rotate {
    position: absolute;
    left: 50%;
    margin: auto;
    width: 200px;
    animation: rotation 2s 3 linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
