@import url(variables.css);
@import url(header.css);

body {
    color: #f76c6c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background: var(--cé-blue-dark);
}

.cé-navbar{
    height: 15vh;
}
.backgroundQuestions{
    background: linear-gradient(to bottom, #3358AD , #223B74); /*fiolet*/
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerQuestionsGlobal {
    width: 80vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.containerQuestions{
    display: flex;
}
.containerQuestions .btn {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    margin: 5vh auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerQuestions .btn a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.containerQuestions .btn:hover a {
    letter-spacing: 3px;
}
.containerQuestions .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}
.containerQuestions .btn:hover a::before {
    transform: skewX(45deg) translate(200px);
}
.containerQuestions .btn::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}
.containerQuestions .btn:hover::before /*lightup button*/ {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.containerQuestions .btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}
.containerQuestions .btn:hover::after /*lightup button*/ {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}
.containerQuestions .btn:nth-child(1)::before, /*chnage 1*/
.containerQuestions .btn:nth-child(1)::after {
    background: #C27034;
    box-shadow: 0 0 5px #C27034, 0 0 15px #C27034, 0 0 30px #C27034,
    0 0 60px #C27034;
}
.containerQuestions .btn:nth-child(2)::before, /* 2*/
.containerQuestions .btn:nth-child(2)::after {
    background: #F2D44A;
    box-shadow: 0 0 5px #F2D44A, 0 0 15px #F2D44A, 0 0 30px #F2D44A,
    0 0 60px #F2D44A;
}
.containerQuestions .btn:nth-child(3)::before, /* 3*/
.containerQuestions .btn:nth-child(3)::after {
    background: #EBBF49;
    box-shadow: 0 0 5px #EBBF49, 0 0 15px #EBBF49, 0 0 30px #EBBF49,
    0 0 60px #EBBF49;
}

.cé-tray {
    width: 220px;
    height: 150px;
    position: absolute;
    background-image: url("../images/empty-food-tray.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1vw 0 0 1vw;
}

.cé-drag-sausage-raw {
    width: auto;
}

.cé-drag-sausage-raw-1 {
    rotate: 180deg;
    margin-top: 5%;
}

.cé-drag-sausage-raw-2 {
    rotate: 0deg;
}

.cé-drag-sausage-raw-3 {
    rotate: 10deg;
    margin-top: -40%;
}

.cé-flammes {
    display: flex;
    margin-top: -15%;
    bottom: -10px;
}
