{% extends 'layout.html.twig' %}

{% block content %}
<div class="cé-h1camping">
    <h1>Eskifécho à Argelès sur Mer ??????</h1>
</div>

<h2>Il fait actuellement {{ temp }}°C </h2>
        {{ phrase }}


{% endblock %}
