{% extends 'layout.html.twig' %}

{% block content %}
    <img class="cé-pin1" src="/assets/images/pin.png">
    <img class="cé-pin2" src="/assets/images/pin.png">
    <img class="cé-pin3" src="/assets/images/pin.png">
    <img class="cé-pin4" src="/assets/images/pin.png">
    <img class="cé-pin5" src="/assets/images/pin.png">
    <div class="cé-map">
        <div>
            <h1>CéLAKONVA !</h1>
            <div class="card célacard célacard1 mb-3" id="célacard1">
                <img class="m-3" src="/assets/images/campingnord.png" class="card-img-top" alt="camping card sous la neige">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Pour ces emplacements de camping-car idyllique.</p>
                </div>
            </div>
            <div class="card célacard célacard2 mb-3" id="célacard2">
                <img class="m-3" src="/assets/images/concoursbarbecue.png" class="card-img-top" alt="photo du gagnant du concours de barbecue">
                <div class="card-body">
                    <h5 class="card-title">Camping Les Flots Bleus</h5>
                    <p class="card-text">Pour son prestigieux concours de barbecue. Jean-Michel le gagnant de l'année dernière sera là pour remettre son prix en jeu.</p>
                </div>
            </div>
            <div class="card célacard célacard3 mb-3" id="célacard3">
                <img class="m-3" src="/assets/images/pechetruite.png" class="card-img-top" alt="photo de peche à la truite.">
                <div class="card-body">
                    <h5 class="card-title">Camping du Lac VAP!</h5>
                    <p class="card-text">Pour un vrai moment d'évasion à la montagne et le merveilleux duo pêche à la truite Heineken !</p>
                </div>
            </div>
            <div class="card célacard célacard4 mb-3" id="célacard4">
                <img class="m-3" src="/assets/images/sosiejohnny.png" class="card-img-top" alt="sosie de Johnny Halliday">
                <div class="card-body">
                    <h5 class="card-title">Camping Beach Garden</h5>
                    <p class="card-text">A NE PAS LOUPER ! Le sosie officiel de Johnny sera présent pour un concert exclusif.</p>
                </div>
            </div>
            <div class="card célacard célacard5 mb-3" id="célacard5">
                <img class="m-3" src="/assets/images/misscamping.png" class="card-img-top" alt="photo de miss camping">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Pour son célèbre concours miss camping présenté depuis 20 ans par Gégé.</p>
                </div>
            </div>
        </div>
        <img class="célamap" src="/assets/images/carte.png" alt="carte de la France">
    </div>
    <div class="cé-pin" id="cé-pin1"></div>
    <div class="cé-pin" id="cé-pin2"></div>
    <div class="cé-pin" id="cé-pin3"></div>
    <div class="cé-pin" id="cé-pin4"></div>
    <div class="cé-pin" id="cé-pin5"></div>

    <script>
        const pin1 = document.querySelector('.cé-pin1');
        const pin2 = document.querySelector('.cé-pin2');
        const pin3 = document.querySelector('.cé-pin3');
        const pin4 = document.querySelector('.cé-pin4');
        const pin5 = document.querySelector('.cé-pin5');
        const card1 = document.querySelector('.célacard1');
        const card2 = document.querySelector('.célacard2');
        const card3 = document.querySelector('.célacard3');
        const card4 = document.querySelector('.célacard4');
        const card5 = document.querySelector('.célacard5');
        let isVisible = false;
        pin1.addEventListener('click', () => {
            card1.classList.toggle('is-visible');
        });
        pin2.addEventListener('click', () => {
            card2.classList.toggle('is-visible');
        });
        pin3.addEventListener('click', () => {
            card3.classList.toggle('is-visible');
        });
        pin4.addEventListener('click', () => {
            card4.classList.toggle('is-visible');
        });
        pin5.addEventListener('click', () => {
            card5.classList.toggle('is-visible');
        });

    </script>

{% endblock %}
