{% extends 'layout.html.twig' %}

{% block content %}

<div class="cé-map">
    <h1>CéLAKONVA !</h1>
    <img class="" src="/assets/images/carte.png" alt="carte de la France">
</div>
    <div>
        <img class="cé-pin" src="/assets/images/pin.png">
    </div>
{% endblock %}
