{% extends 'layout.html.twig' %}

{% block content %}
    <div class="cé-map">
        <div>
            <h1>CéLAKONVA !</h1>
            <div class="display1">
                <div class="card célacard célacard1 mb-3" id="célacard1">
                    <img src="/assets/images/couple.png" class="card-img-top" alt="camping card sous la neige">
                    <div class="card-body">
                        <h5 class="card-title">Domaine de la Pinède en Baie de Canche</h5>
                        <p class="card-text">Pour ces soirées hawaïenne qui font monter la température</p>
                    </div>
                </div>
            </div>
            <div class="display2">
                <div class="card célacard célacard2 mb-3" id="célacard2">
                    <img src="/assets/images/barbecue.png" class="card-img-top" alt="photo du gagnant du concours de barbecue">
                    <div class="card-body">
                        <h5 class="card-title">Camping Les Flots Bleus</h5>
                        <p class="card-text">Pour son prestigieux concours de barbecue. Jean-Michel le gagnant de l'année dernière sera là pour remettre son prix en jeu.</p>
                    </div>
                </div>
            </div>
            <div class="display3">
                <div class="card célacard célacard3 mb-3" id="célacard3">
                    <img src="/assets/images/truite.png" class="card-img-top" alt="photo de peche à la truite.">
                    <div class="card-body">
                        <h5 class="card-title">Camping du Lac VAP!</h5>
                        <p class="card-text">Pour un vrai moment d'évasion à la montagne et le merveilleux duo pêche à la truite Heineken !</p>
                    </div>
                </div>
            </div>
            <div class="display4">
                <div class="card célacard célacard4 mb-3" id="célacard4">
                    <img src="/assets/images/sosie.png" class="card-img-top" alt="sosie de Johnny Halliday">
                    <div class="card-body">
                        <h5 class="card-title">Camping Beach Garden</h5>
                        <p class="card-text">A NE PAS LOUPER ! Le sosie officiel de Johnny sera présent pour un concert exclusif.</p>
                    </div>
                </div>
            </div>
            <div class="display5">
                <div class="card célacard célacard5 mb-3" id="célacard5">
                    <img src="/assets/images/misscamping.png" class="card-img-top" alt="photo de miss camping">
                    <div class="card-body">
                        <h5 class="card-title">Camping La Pierre Verte</h5>
                        <p class="card-text">Pour son célèbre concours miss camping présenté depuis 20 ans par Gégé.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cemap">
            <img class="célamap" src="/assets/images/carte.png" alt="carte de la France">
            <img class="cé-pin1" src="/assets/images/pin.png">
            <img class="cé-pin2" src="/assets/images/pin.png">
            <img class="cé-pin3" src="/assets/images/pin.png">
            <img class="cé-pin4" src="/assets/images/pin.png">
            <img class="cé-pin5" src="/assets/images/pin.png">
        </div>
    </div>

    <script>
        const pin1 = document.querySelector('.cé-pin1');
        const pin2 = document.querySelector('.cé-pin2');
        const pin3 = document.querySelector('.cé-pin3');
        const pin4 = document.querySelector('.cé-pin4');
        const pin5 = document.querySelector('.cé-pin5');
        const card1 = document.querySelector('.display1');
        const card2 = document.querySelector('.display2');
        const card3 = document.querySelector('.display3');
        const card4 = document.querySelector('.display4');
        const card5 = document.querySelector('.display5');
        pin1.addEventListener('mouseover', () => {
            card1.style.display = "initial";
        });
        pin1.addEventListener('mouseout', () => {
            card1.style.display = "none";
        });
        pin2.addEventListener('mouseover', () => {
            card2.style.display = "initial";
        });
        pin2.addEventListener('mouseout', () => {
            card2.style.display = "none";
        });
        pin3.addEventListener('mouseover', () => {
            card3.style.display = "initial";
        });
        pin3.addEventListener('mouseout', () => {
            card3.style.display = "none";
        });
        pin4.addEventListener('mouseover', () => {
            card4.style.display = "initial";
        });
        pin4.addEventListener('mouseout', () => {
            card4.style.display = "none";
        });
        pin5.addEventListener('mouseover', () => {
            card5.style.display = "initial";
        });
        pin5.addEventListener('mouseout', () => {
            card5.style.display = "none";
        });
    </script>
{% endblock %}
